@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .grad-text {
      background: linear-gradient(90deg, #00ffee 0%, #036cff 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }