@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .grad-text {
      background: linear-gradient(90deg, #4085fb 0%, #a722ff 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }